html {
  height: 100%;
}

body {
  background:url('./bg.jpg');
  background-size: cover;
  min-height: 100%;
}
img{
  max-width: 100px;

}
.monkey{
  position: absolute;
  right: 0;
  bottom: 0;
}
.monkey:nth-child(2){
  right: auto;
  left:0
}